{% extends 'base.html' %}
{% load static %}
    {% block body %}
    <div class="container">
        <h1 class="ahead">About us</h1>
        <p class="apara">
            This website is specially dsigned for those people who wanted to explore India.It redirects people to the official tourism pages of the state so they can know much more things e.g-about heritages,cultures,tourists spot etc before visting the place.This website is in trial stage and many other changes and modification will be there in this website.</p>
            <h4 class="ahead1">about </h4>
           <p class="apara2"> This website is created by me just for learning purpose and this is my first website created using django framework and postgresql.<br><br>

                                              <h6 class="subs">~Mirza Amanul Haque Baig</h6> 
        </p>
    </div>

       {% endblock %}